Source: pcsxrearmed
Section: user/games/pcsx
Priority: extra
Maintainer: Arno11 <arno11-n900@outlook.com>
Build-Depends: debhelper (>= 5), zlib1g-dev, libhildon1-dev, libpulse-dev, libasound2-dev, libbz2-dev, libosso-dev, libdbus-1-dev, libhildonfm2-dev, libts-dev
Standards-Version: 3.7.3+leste1

Package: pcsxrearmed
Architecture: any
Depends: ${shlibs:Depends}
Description: Sony PlayStation emulator.
 This application requires a physical keyboard to work properly.
XSBC-Homepage: http://notaz.gp2x.de/pcsx_rearmed.php
XSBC-Bugtracker: http://notaz.gp2x.de/pcsx_rearmed.php
XB-Maemo-Display-Name: PCSX-ReArmed
